body{
  background-color: #EDE7F6;
  font-family: sans-serif;
}
/* profile header */
h1{
  color: #512DA8;
  text-align: center;
  margin-top: 0%;
  font-size: 40px;
  font-family: sans-serif;

}
.profile{
  border: 1px solid #512DA8;
  text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  padding: 3px;

}
/*projects worked on */
h2{
  color: #512DA8;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;

}
.projects{
  float: left;
  width: 440px;
}

p.projects{
  font-size: 18px;
  text-align: justify;
}

.about {
  clear: both;
}

h4{
  text-decoration: underline;

}

hr{
  color: 5px solid #512DA8;
}

/* About me */
h3{
  text-decoration: underline;
  color: #512DA8;
}
.Personal{
    margin-left: 5%;
}
.title{
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
}

.Education{
    margin-left: 5%;
}
.year{
  font-weight: bold;
  font-size: 20px;
  text-align: justify;
}

.Work{
    margin-left: 5%;
}
.work{
  text-align: justify;
}

.Skills{
    margin-left: 5%;
}

.Talents{
  margin-left: 5%;
}

.program{
  margin-left: 5%;
}

p.program{
  font-size: 15px;

}
@media screen and (min-width: 480px) {
    body {
        background-color: #EDE7F6;
        color: black;
    }
}
